In [178]:
# Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [30]:
movies_list = ['Animal', 'King', 'Hostel', 'Rain']

In [32]:
movies_list

['Animal', 'King', 'Hostel', 'Rain']

In [34]:
movies_list.append('Life') 
movies_list

['Animal', 'King', 'Hostel', 'Rain', 'Life']

In [ ]:
# Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [38]:
integers_list = [1,2,3,4,5,6,7,8,9,10]
integers_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
sum = 0
for i in integers_list:
    sum += i
sum

55

In [ ]:
# Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [136]:
datatype_list = ['Rakesh', 43, 21.23]
datatype_list

['Rakesh', 43, 21.23]

In [138]:
datatype_list.pop(0)
datatype_list

[43, 21.23]

In [ ]:
# Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [5]:
week_tuple = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
week_tuple

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [7]:
third_day = week_tuple[2]
third_day

'Tuesday'

In [ ]:
# Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [23]:
color_tuple = ("Green", "Blue", "Black", "Pink", "Red", "Yellow")
color_tuple

('Green', 'Blue', 'Black', 'Pink', 'Red', 'Yellow')

In [49]:
if "Blue" in color_tuple:
    print("Color is present!")
else:
     print("Color is not present!") 
# color_tuple

Color is present!

In [ ]:
# Create a dictionary representing the information of a book with keys "title", "author", and
# "year" and print it. Update the year of the book and print the updated dictionary.

In [53]:
book_dictionary = {
    "title" : "Rich Dad Poor Dad",
    "author" : "Robert Kiyosaki",
    "year" : 1900
}
book_dictionary

{'title': 'Rich Dad Poor Dad', 'author': 'Robert Kiyosaki', 'year': 1900}

In [59]:
book_dictionary.update({"year" : 2000})
book_dictionary

{'title': 'Rich Dad Poor Dad', 'author': 'Robert Kiyosaki', 'year': 2000}

In [ ]:
# Create a dictionary containing the names of fruits as keys and their corresponding colors
# as values and print it. Add a new fruit-color pair to the dictionary and print the updated
# dictionary.

In [61]:
fruits_dictionary = {
    "apple" : "red",
    "orange" : "orange",
    "strawberry" : "red",
    "banana" : "yellow"
 }
fruits_dictionary

{'apple': 'red', 'orange': 'orange', 'strawberry': 'red', 'banana': 'yellow'}

In [63]:
fruits_dictionary.update({"mango": "yellow"})
fruits_dictionary

{'apple': 'red',
 'orange': 'orange',
 'strawberry': 'red',
 'banana': 'yellow',
 'mango': 'yellow'}

In [ ]:
# Create a dictionary representing the population of different cities with keys as city names
# and values as population numbers and print it. Remove a city from the dictionary and print
# the modified dictionary.

In [65]:
population_dictionary = {
    "nepal" : 2323323,
    "china" : 52353523,
    "india" : 352352323,
    "japan" : 23425223,
    "canada" : 234234
}
population_dictionary

{'nepal': 2323323,
 'china': 52353523,
 'india': 352352323,
 'japan': 23425223,
 'canada': 234234}

In [67]:
population_dictionary.pop("china")
population_dictionary

{'nepal': 2323323, 'india': 352352323, 'japan': 23425223, 'canada': 234234}