## Basic Review of the Python Fundamentals
In this module, we will cover/ refresh the contents of Python. The topics this notebook covers are as follows: 
- Python List and Comprehensions
- Python Dictionary and Comprehensions
- Functions in Python
- OOPs in Python
- Debugging Techniques in Python.

### Introduction to Python List
Python lists are data structures that group sequences of elements. List can store the elements of same or different data types. Python List supports both **mutability* and **sequencial indexing**.

Lists are created using square brackets and the elements separated by commas. The elements in a list can be accessed by their positions where **0** is the index of the first element:

In [1]:
list_a = [1,2,3,4,'a','b','c']
list_a

[1, 2, 3, 4, 'a', 'b', 'c']

In [2]:
type(list_a)

list

#### Basic Operations on Python List

##### Append
syntax: 
append(self, object, /)  

    Append object to the end of the list.

In [3]:
list_a.append('hello')
list_a

[1, 2, 3, 4, 'a', 'b', 'c', 'hello']

In [4]:
list_b = ['Python', 'Machine Learning', 'Data Science']
len(list_b)

3

In [5]:
list_a.append(list_b)

In [6]:
list_a

[1,
 2,
 3,
 4,
 'a',
 'b',
 'c',
 'hello',
 ['Python', 'Machine Learning', 'Data Science']]

*The append() method adds the new element to the end of the list. The new list above `list_b` is treated as a single object and is appended to end of `list_a`.*

##### Extend

Syntax:  
extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [3]:
iterable_a = ('Dell', 'Samsung', 'Toshiba')
iterable_a

('Dell', 'Samsung', 'Toshiba')

In [4]:
for element in iterable_a:
    print(element)

Dell
Samsung
Toshiba

In [8]:
list_a

[1,
 2,
 3,
 4,
 'a',
 'b',
 'c',
 'hello',
 ['Python', 'Machine Learning', 'Data Science']]

In [10]:
list_a.extend(iterable_a)
list_a

[1,
 2,
 3,
 4,
 'a',
 'b',
 'c',
 'hello',
 ['Python', 'Machine Learning', 'Data Science'],
 'Dell',
 'Samsung',
 'Toshiba',
 'Dell',
 'Samsung',
 'Toshiba']

In [3]:
iterable_b = {1:'a',2:'b',3:'c'}
iterable_b.values()

dict_values(['a', 'b', 'c'])

In [4]:
type(iterable_b.values())

dict_values

In [5]:
iterable_b.values().to_list()

AttributeError: 'dict_values' object has no attribute 'to_list'

In [13]:
list_a.extend('MacBook')
list_a

[1,
 2,
 3,
 4,
 'a',
 'b',
 'c',
 'hello',
 ['Python', 'Machine Learning', 'Data Science'],
 'Dell',
 'Samsung',
 'Toshiba',
 'Dell',
 'Samsung',
 'Toshiba',
 'M',
 'a',
 'c',
 'B',
 'o',
 'o',
 'k']

In [14]:
list_c = [1,2,3,4,5]
list_c

[1, 2, 3, 4, 5]

In [7]:
for i in range(6,10):
    print(i)

6
7
8
9

In [15]:
list_c.extend(range(6,10))
list_c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Insert 
Syntax:   
insert(self, index, object)  

Insert object before index.

In [16]:
list_insert = ['Design', 'Patterns', 'is', 'necessary']

In [17]:
list_insert

['Design', 'Patterns', 'is', 'necessary']

If we want to add `very` in between `is` and `necessary`, we need to identify the index at which we want to insert the elements.

In [18]:
len(list_insert)

4

In [19]:
list_insert.insert(3, 'very')
list_insert

['Design', 'Patterns', 'is', 'very', 'necessary']

##### Pop
Syntax:  
pop(self, index=-1)    
Remove and return item at index (default last).

Raises `IndexError` if list is empty or index is out of range.

In [20]:
list_pop = [1,2,3,4,5,6,7,8]
list_pop

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
list_pop.pop()

8

In [22]:
list_pop

[1, 2, 3, 4, 5, 6, 7]

If we want to remove **4** from the list, we need to indentify the index of the corresponding element and pass it as an argument to the method.

In [5]:
index = list_pop.index(4)
index

NameError: name 'list_pop' is not defined

In [24]:
list_pop.pop(3)

4

In [25]:
list_pop

[1, 2, 3, 5, 6, 7]

##### Remove
Syntax:  
remove(self, value)  
Remove first occurrence of value.

Raises ValueError if the value is not present.

In [26]:
list_remove = ['Hello','Geeks', 'Hello', 'Programmers','I', 'am','Pythonic']
list_remove

['Hello', 'Geeks', 'Hello', 'Programmers', 'I', 'am', 'Pythonic']

In [ ]:
list_remove.remove('Hello')

In [ ]:
list_remove

['Geeks', 'Hello', 'Programmers', 'I', 'am', 'Pythonic']

In [29]:
list_remove.remove('Java')

ValueError: list.remove(x): x not in list

##### Sort
Syntax:  

sort(self, /, *, key=None, reverse=False)  

Sort the list in ascending order and return None.
    
The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.

In [6]:
list_sort = [43,23,22,1,98,34,50]
list_sort_2 = list_sort.copy()

In [4]:
list_sort.sort()
list_sort

NameError: name 'list_sort' is not defined

In [2]:
help(list_sort)

NameError: name 'list_sort' is not defined

In [32]:
list_sort_2.sort(reverse=True)

In [33]:
list_sort_2

[98, 50, 43, 34, 23, 22, 1]

#### Accessing Python List
List allows to use the access and slice mechanism as `list[start:end:step]`. If options are omitted, `start` defaults to beginning of the list, `end` to the end of the list and `step` to 1.

In [34]:
list_a = [1,3,5,6,7,8,9]
list_a

[1, 3, 5, 6, 7, 8, 9]

In [35]:
list_a[0]

1

In [36]:
list_a[-1]

9

In [37]:
list_a[2:4]

[5, 6]

In [38]:
list_a[::-1]

[9, 8, 7, 6, 5, 3, 1]

In [39]:
list_a[3:7:2]

[6, 8]

#### Iterating a list

In [40]:
list_for_iteration = ['Python', 'Rust','Ruby','Java','PHP']
list_for_iteration

['Python', 'Rust', 'Ruby', 'Java', 'PHP']

In [41]:
for item in list_for_iteration:
    print(item)

Python
Rust
Ruby
Java
PHP

*To get the position (index) along with the item, we use `enumerate` along with the loop.*

In [42]:
for idx, item in enumerate(list_for_iteration):
    print(idx, item)

0 Python
1 Rust
2 Ruby
3 Java
4 PHP

#### Concatenation and Merging lists

In [43]:
list_a = [1,2,3,4]
list_b = ['a','b','c','d']

In [44]:
result = list_a + list_b
result

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [45]:
for items in zip(list_a,list_b):
    print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

*For combining the list of unequal length to the longest one, we generally use the **pad** as `None` through `itertools` module.*

In [46]:
import itertools

In [47]:
list_c = ['dell','samsung']

In [48]:
for a,b,c in itertools.zip_longest(list_a,list_b,list_c):
    print(a,b,c)

1 a dell
2 b samsung
3 c None
4 d None

#### Remove Duplicate Values from the list

To remove the duplicate values form the list, we don't need to iterate over the list and count every occurance of each members in a list. The duplication removal from list is easy in Python. We simply **typecast** the list to another data structure in Python called **set**. **Set** holds the unique set of values without preserving the order.

In [49]:
list_with_duplicates = [1,2,3,3,4,5,4,6,2,8,4,8,'a']
list_with_duplicates

[1, 2, 3, 3, 4, 5, 4, 6, 2, 8, 4, 8, 'a']

In [50]:
list_after_removing_duplicates = set(list_with_duplicates)
list_after_removing_duplicates

{1, 2, 3, 4, 5, 6, 8, 'a'}

In [51]:
type(list_after_removing_duplicates)

set

In [52]:
list_after_removing_duplicates

{1, 2, 3, 4, 5, 6, 8, 'a'}

#### Iterating over nested list

In [53]:
nested_list = [[1,2,3], [4,5,6], [7,8]]

In [54]:
for items in nested_list:
    print(items)
    for item in items:
        print(item)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8]
7
8

### List Comprehensions
List comprehensions are simply a way to compress a list-building for-loop into a single short, readable line. List comprehensions can be used to generate list from other iterables in a single line of code. List Comprehension is considered more efficient and is a Pythonic way to deal with list operations.

This basic syntax, then, is `[<expression> for <variable> in <iterable>]`, where `expression` is any **valid expression**, `variable` is a **variable name**, and `iterable` is any **iterable Python object**.

##### For Loop vs Compreshension
Consider a scnerio where we need to print the first letter of every word in a sentence. To solve this, the ordinary way is to iterate over the sentence and grab each item and again get the first character from each item. Lets look how we can apply comprehensions to the scnerio.

In [10]:
test_sentence = "Hello enthusiasts! Let's dive deep into Python"

Lets go with the ordinary way first.

In [11]:
#get each word in the sentence. To grab each word, we need a split method.
list_of_first_chars = []
for items in test_sentence.split():
    print(items)
    list_of_first_chars.append(items[0])

Hello
enthusiasts!
Let's
dive
deep
into
Python

In [12]:
list_of_first_chars

['H', 'e', 'L', 'd', 'd', 'i', 'P']

Lets try out the comprehension now!

In [58]:
list_of_first_chars_comp = [items[0] for items in test_sentence.split()]

In [59]:
list_of_first_chars_comp

['H', 'e', 'L', 'd', 'd', 'i', 'P']

We even can apply **conditions** to list comprehensions. The syntax is as follows:  
`[<expression> for <variable> in <iterable> if <condition>]`

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]

In [14]:
even_nums = [item for item in a if item%2==0]

In [15]:
even_nums

[2, 4, 6, 8, 10]

For the above scnerio, if we want to exclude the words that starts with **H** or **h**, the code can be modified as:

In [60]:
list_of_filtered_chars_comp = [items[0] for items in test_sentence.split() if items[0] not in ['h','H']]

In [61]:
list_of_filtered_chars_comp

['e', 'L', 'd', 'd', 'i', 'P']

In [83]:
list_of_filtered_chars_comp = [items[0] if items[0] not in ['h','H'] for items in test_sentence.split()]

SyntaxError: invalid syntax (1863910610.py, line 1)

Quick Task: Given a list of numbers from 1 to 30. Prepare a new list of items such that the list contains the square of numbers in original list if the number is divisible by 3 else the original number. 

If `a = [1,2,3,4,5,6,.....]` the new list should have the output `new_list=[1,2,9,4,5,36,.........]`

In [88]:
a = list(range(1,31))

In [92]:
new_list = [x**2 if x % 3 == 0 else x for x in a]
new_list

[1,
 2,
 9,
 4,
 5,
 36,
 7,
 8,
 81,
 10,
 11,
 144,
 13,
 14,
 225,
 16,
 17,
 324,
 19,
 20,
 441,
 22,
 23,
 576,
 25,
 26,
 729,
 28,
 29,
 900]

In [62]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

In [63]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

### Introduction to Python Dictionary
A dictionary in Python is a data structure that stores the objects in **key-value** pairs. The retrieval of values is through the unique keys and thus helps in faster lookups.

Dictionary is created using curly braces and key value pair within the braces.

In [64]:
dict_a = {}
dict_a

{}

In [65]:
type(dict_a)

dict

In [66]:
dict_b = {1:'a',2:'b'}
dict_b

{1: 'a', 2: 'b'}

We can check the keys and the values of dictionary using `keys()` and `values()` along with the dictionary.

In [67]:
dict_b.keys()

dict_keys([1, 2])

In [68]:
dict_b.values()

dict_values(['a', 'b'])

Dictionary can also be created using `dict()`

In [69]:
dict_c = dict()

In [70]:
type(dict_c)

dict

#### Accessing and Modifying the Dictionary

We access the dictionary value using the corresponding key. If the key is not present in the dictionary, `KeyError` is raised.

In [71]:
dict_b.keys()

dict_keys([1, 2])

In [72]:
dict_b[1]

'a'

In [73]:
dict_d = {'name':'Steve Jobs','address':'USA', 'company':'Apple'}
dict_d

{'name': 'Steve Jobs', 'address': 'USA', 'company': 'Apple'}

In [74]:
try: 
    name, salary = dict_d['name'], dict_d['salary']
except KeyError:
    print('Sorry Key Not found')

Sorry Key Not found

In [75]:
dict_d['salary'] = '$79000'

In [76]:
dict_d

{'name': 'Steve Jobs',
 'address': 'USA',
 'company': 'Apple',
 'salary': '$79000'}

In [77]:
try: 
    name, salary = dict_d['name'], dict_d['salary']
    print(f'name: {name} salary: {salary}')
except KeyError:
    print('Sorry Key Not found')

name: Steve Jobs salary: $79000

#### Iterating over a dictionary

To iterate over key-value pair, we use `items()` on dictionary iterations.

In [78]:
for key, value in dict_d.items():
    print(key + ":", value)

name: Steve Jobs
address: USA
company: Apple
salary: $79000

In [79]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [20]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]