# Training Model

In [581]:
import pandas as pd
import numpy as np

In [583]:
dataset = pd.read_csv('data/Fraud_Detection.csv')

In [68]:
dataset.shape

(636262, 10)

In [8]:
dataset.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,283,CASH_IN,210329.84,C1159819632,3778062.79,3988392.64,C1218876138,1519266.60,1308936.76,0
1,132,CASH_OUT,215489.19,C1372369468,21518.00,0.00,C467105520,6345756.55,6794954.89,0
2,355,DEBIT,4431.05,C1059822709,20674.00,16242.95,C76588246,80876.56,85307.61,0
3,135,CASH_OUT,214026.20,C1464960643,46909.73,0.00,C1059379810,13467450.36,13681476.56,0
4,381,CASH_OUT,8858.45,C831134427,0.00,0.00,C579876929,1667180.58,1676039.03,0

In [70]:
# dataset

In [96]:
dataset.index

RangeIndex(start=0, stop=636262, step=1)

In [16]:
dataset.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
count,636262.000000,6.362620e+05,6.362610e+05,6.362620e+05,6.362620e+05,6.362520e+05,636262.000000
mean,242.931935,1.800585e+05,8.317949e+05,8.528354e+05,1.096212e+06,1.221804e+06,0.001290
std,142.330857,6.069714e+05,2.885638e+06,2.921296e+06,3.375389e+06,3.656236e+06,0.035898
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,155.000000,1.340742e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,238.000000,7.481577e+04,1.423900e+04,0.000000e+00,1.315397e+05,2.147000e+05,0.000000
75%,334.000000,2.084988e+05,1.073000e+05,1.435652e+05,9.384820e+05,1.109230e+06,0.000000
max,742.000000,5.722962e+07,4.368662e+07,4.367380e+07,3.551855e+08,3.555534e+08,1.000000

In [98]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636262 entries, 0 to 636261
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            636262 non-null  int64
 1   type            636251 non-null  object
 2   amount          636262 non-null  float64
 3   nameOrig        636262 non-null  object
 4   oldbalanceOrg   636261 non-null  float64
 5   newbalanceOrig  636262 non-null  float64
 6   nameDest        636262 non-null  object
 7   oldbalanceDest  636262 non-null  float64
 8   newbalanceDest  636252 non-null  float64
 9   isFraud         636262 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 48.5+ MB

In [100]:
dataset_columns = dataset.columns
dataset_columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [129]:
for col in dataset_columns:
    print(dataset[col].value_counts())

step
19     5206
187    5039
18     4926
235    4652
163    4626
       ...
56        1
414       1
224       1
510       1
319       1
Name: count, Length: 630, dtype: int64
type
CASH_OUT    224212
PAYMENT     214965
CASH_IN     139611
TRANSFER     53293
DEBIT         4170
Name: count, dtype: int64
amount
10000000.00    314
15000.00        10
10000.00         9
500.00           7
120000.00        5
              ...
55223.70         1
30255.37         1
171121.82        1
177699.92        1
95142.89         1
Name: count, Length: 622502, dtype: int64
nameOrig
C334643493     2
C288001979     2
C21821244      2
C1612765417    2
C1942864508    2
              ..
C1972843152    1
C322189211     1
C934806957     1
C2065879391    1
C874575079     1
Name: count, Length: 636171, dtype: int64
oldbalanceOrg
0.00          210268
164.00           111
137.00           104
157.00           103
115.00            99
               ...
81368.65           1
342837.00          1
1243597.88         1
1199384.74         1
83669.00           1
Name: count, Length: 258156, dtype: int64
newbalanceOrig
0.00         361120
37134.50          3
15612.00          3
802.71            3
210621.59         2
              ...
10340.70          1
3255.36           1
42546.34          1
157590.66         1
21909.88          1
Name: count, Length: 274416, dtype: int64
nameDest
C2083562754    14
C1023714065    14
C1590550415    14
C1219369531    14
C1339257929    13
               ..
M82821910       1
C1926013346     1
M1630564361     1
C1446453350     1
C1328739120     1
Name: count, Length: 457224, dtype: int64
oldbalanceDest
0.00           270832
10000000.00        62
20000000.00        19
30000000.00        13
102.00              6
                ...
568981.53           1
198191.11           1
181631.13           1
24623.23            1
431380.07           1
Name: count, Length: 364770, dtype: int64
newbalanceDest
0.00          243934
4692432.30         5
641979.14          5
971418.91          5
4416613.81         5
               ...
532509.32          1
3481910.06         1
1456608.43         1
654158.77          1
526522.96          1
Name: count, Length: 387354, dtype: int64
isFraud
0    635441
1       821
Name: count, dtype: int64

In [131]:
dataset['isFraud'].value_counts()

isFraud
0    635441
1       821
Name: count, dtype: int64

In [137]:
# check missing values in variables
dataset.isnull().sum()

step               0
type              11
amount             0
nameOrig           0
oldbalanceOrg      1
newbalanceOrig     0
nameDest           0
oldbalanceDest     0
newbalanceDest    10
isFraud            0
dtype: int64

In [139]:
dataset.shape

(636262, 10)

In [151]:
dataset_dropped_nan = dataset.dropna()
dataset_dropped_nan

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,283,CASH_IN,210329.84,C1159819632,3778062.79,3988392.64,C1218876138,1519266.60,1308936.76,0
1,132,CASH_OUT,215489.19,C1372369468,21518.00,0.00,C467105520,6345756.55,6794954.89,0
2,355,DEBIT,4431.05,C1059822709,20674.00,16242.95,C76588246,80876.56,85307.61,0
3,135,CASH_OUT,214026.20,C1464960643,46909.73,0.00,C1059379810,13467450.36,13681476.56,0
4,381,CASH_OUT,8858.45,C831134427,0.00,0.00,C579876929,1667180.58,1676039.03,0
...,...,...,...,...,...,...,...,...,...,...
636257,351,CASH_OUT,28761.10,C742050657,0.00,0.00,C568407561,328534.52,357295.62,0
636258,184,CASH_OUT,167820.71,C561181412,62265.00,0.00,C1852953580,106429.48,274250.18,0
636259,35,PAYMENT,8898.12,C1773417333,30808.00,21909.88,M445701551,0.00,0.00,0
636260,277,CASH_OUT,176147.90,C1423233247,83669.00,0.00,C1328739120,0.00,176147.90,0
636261,304,CASH_OUT,95142.89,C874575079,0.00,0.00,C666451134,431380.07,526522.96,0

In [153]:
dataset_dropped_nan.shape

(636240, 10)

In [163]:
dataset_dropped_nan.isna()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
636257,False,False,False,False,False,False,False,False,False,False
636258,False,False,False,False,False,False,False,False,False,False
636259,False,False,False,False,False,False,False,False,False,False
636260,False,False,False,False,False,False,False,False,False,False
636261,False,False,False,False,False,False,False,False,False,False

In [186]:
dataset.isna().sum()

step               0
type              11
amount             0
nameOrig           0
oldbalanceOrg      1
newbalanceOrig     0
nameDest           0
oldbalanceDest     0
newbalanceDest    10
isFraud            0
dtype: int64

In [182]:
dataset_dropped_nan.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
dtype: int64

In [176]:
dataset_with_scalar_filled = dataset.fillna('0')

In [188]:
dataset_with_scalar_filled['type'].unique()

array(['CASH_IN', 'CASH_OUT', 'DEBIT', 'PAYMENT', 'TRANSFER', '0'],
      dtype=object)

In [190]:
dataset_with_scalar_filled['oldbalanceOrg'].unique()

array([3778062.79, 21518.0, 20674.0, ..., 5291227.43, 104946.0, 83669.0],
      dtype=object)

In [192]:
dataset_with_scalar_filled['newbalanceDest'].unique()

array([1308936.76, 6794954.89, 85307.61, ..., 274250.18, 176147.9,
       526522.96], dtype=object)

In [194]:
dataset['type'].unique()

array(['CASH_IN', 'CASH_OUT', 'DEBIT', 'PAYMENT', 'TRANSFER', nan],
      dtype=object)

In [200]:
dataset_with_scalar_filled.shape

(636262, 10)

## Declare feature vector and target variable

In [203]:
X = dataset_with_scalar_filled.drop(['isFraud'], axis = 1)
y = dataset_with_scalar_filled['isFraud']

## Split data into separate training and test set

In [208]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state = 42)

In [210]:
# check the spape of X_train and X_test

X_train.shape, X_test.shape

((509009, 9), (127253, 9))

In [246]:
X_train.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg      object
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest     object
dtype: object

## Encode categorical values

In [236]:
X_train.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
410203,40,CASH_IN,29803.00,C1949102687,31161.0,60964.00,C197716503,558338.33,528535.33
128972,188,CASH_IN,144608.69,C361241504,6158831.47,6303440.16,C1811734582,191932.45,47323.77
535818,227,TRANSFER,789518.83,C1388649350,0.0,0.00,C786544094,4175052.98,4964571.81
487910,323,CASH_OUT,601604.26,C1877753325,21905.0,0.00,C1130633792,1041614.78,1643219.03
625700,13,CASH_OUT,12277.32,C1652808462,168809.0,156531.68,C1553317986,0.00,12277.32

In [248]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.4-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.5.1)
Requirement already satisfied: scipy>=1.0.0 in e:\anaconda\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in e:\anaconda\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in e:\anaconda\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in e:\anaconda\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in e:\anaconda\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in e:\anaconda\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Downloading category_encoders-2.6.4-py2.py3-none-any.whl (82 kB)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.4

In [252]:
import category_encoders as ce

In [254]:
encoder = ce.OrdinalEncoder(cols=['type', 'nameOrig','oldbalanceOrg','nameDest','newbalanceDest'])

In [524]:
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [560]:
X_train.dtypes

step                int64
type                int32
amount            float64
nameOrig            int32
oldbalanceOrg       int32
newbalanceOrig    float64
nameDest            int32
oldbalanceDest    float64
newbalanceDest      int32
dtype: object

In [578]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 509009 entries, 410203 to 121958
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            509009 non-null  int64
 1   type            509009 non-null  int32
 2   amount          509009 non-null  float64
 3   nameOrig        509009 non-null  int32
 4   oldbalanceOrg   509009 non-null  int32
 5   newbalanceOrig  509009 non-null  float64
 6   nameDest        509009 non-null  int32
 7   oldbalanceDest  509009 non-null  float64
 8   newbalanceDest  509009 non-null  int32
dtypes: float64(3), int32(5), int64(1)
memory usage: 29.1 MB

In [532]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127253 entries, 492123 to 471361
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            127253 non-null  int64
 1   type            127253 non-null  float64
 2   amount          127253 non-null  float64
 3   nameOrig        127253 non-null  float64
 4   oldbalanceOrg   127253 non-null  float64
 5   newbalanceOrig  127253 non-null  float64
 6   nameDest        127253 non-null  float64
 7   oldbalanceDest  127253 non-null  float64
 8   newbalanceDest  127253 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 9.7 MB

In [534]:
y_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127253 entries, 492123 to 471361
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            127253 non-null  int64
 1   type            127253 non-null  int32
 2   amount          127253 non-null  float64
 3   nameOrig        127253 non-null  float64
 4   oldbalanceOrg   127253 non-null  float64
 5   newbalanceOrig  127253 non-null  float64
 6   nameDest        127253 non-null  float64
 7   oldbalanceDest  127253 non-null  float64
 8   newbalanceDest  127253 non-null  float64
dtypes: float64(7), int32(1), int64(1)
memory usage: 9.2 MB

In [536]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 509009 entries, 410203 to 121958
Series name: isFraud
Non-Null Count   Dtype
--------------   -----
509009 non-null  int64
dtypes: int64(1)
memory usage: 7.8 MB

In [538]:
y_train.describe

<bound method NDFrame.describe of 410203    0
128972    0
535818    0
487910    0
625700    0
         ..
110268    0
259178    0
365838    0
131932    0
121958    0
Name: isFraud, Length: 509009, dtype: int64>

In [540]:
X_train.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
410203,40,1,29803.00,1,1,60964.00,1,558338.33,1
128972,188,1,144608.69,2,2,6303440.16,2,191932.45,2
535818,227,2,789518.83,3,3,0.00,3,4175052.98,3
487910,323,3,601604.26,4,4,0.00,4,1041614.78,4
625700,13,3,12277.32,5,5,156531.68,5,0.00,5

In [268]:
X_test.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
492123,37,-1.0,267289.58,-1.0,-1.0,130569.0,-1.0,3664138.94,-1.0
370792,234,-1.0,52457.64,-1.0,-1.0,0.0,-1.0,0.00,-1.0
435806,687,-1.0,35944.26,-1.0,-1.0,0.0,-1.0,0.00,-1.0
195013,132,-1.0,152038.27,-1.0,-1.0,0.0,-1.0,1920325.16,-1.0
388753,349,-1.0,200053.40,-1.0,-1.0,0.0,-1.0,10364319.70,-1.0

In [556]:
X_train.dtypes

step                int64
type                int32
amount            float64
nameOrig            int32
oldbalanceOrg       int32
newbalanceOrig    float64
nameDest            int32
oldbalanceDest    float64
newbalanceDest      int32
dtype: object

In [302]:
X_test.dtypes

step                int64
type              float64
amount            float64
nameOrig          float64
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          float64
oldbalanceDest    float64
newbalanceDest    float64
dtype: object

In [298]:
y_train.dtypes

dtype('int64')

In [300]:
y_test.dtypes

step                int64
type                int32
amount            float64
nameOrig          float64
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          float64
oldbalanceDest    float64
newbalanceDest    float64
dtype: object

In [276]:
from sklearn.tree import DecisionTreeClassifier

In [278]:
classifier = DecisionTreeClassifier()

In [354]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [644]:
pred_values = classifier.predict(X_test)
pred_values

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [666]:
classifier.score(X_train, y_train)

1.0

In [664]:
# classifier.score(X_test, y_test)